@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'inter';
    src: url('/fonts/Inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'inter-medium';
    src: url('/fonts/Inter-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'inter-bold';
    src: url('/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.blur-md {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter : blur(8px);
}